<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    #parse ( "/templates/add-html-head-content.vm" )
</head>
<body>
<h1>#if($title)${title}#end</h1>
<div>
    <ul>
        #foreach ($provider in $providers)
            <li>
                <a href="${provider.redirect}"><span style="font-weight:bold">${provider.linkText}</span></a>
            </li>
        #end
    </ul>
</div>
    #parse ( "/templates/add-html-body-content.vm" )
</body>
</html>